.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-on-field {
  /* background-color: grey; */
  background-image: url("../../assets/ship.svg");
  background-position: center;
  background-size: contain;
}

.empty {
  background-color: white;
}

.ship_hit {
  /* background-color: red; */
  background-image: url("../../assets/bang.svg");
  background-position: center;
  background-size: contain;
}

.empty_hit {
  /* background-color: blue; */
  background-image: url("../../assets/waves.svg");
  background-position: center;
  background-size: contain;
}

.hoverable:hover {
  border: 2px solid yellowgreen;
  cursor: pointer;
}
