.opp-container {
  width: 450px;
  max-width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgrey;
  padding-bottom: 15px;
}

.opp-title {
  text-align: center;
  margin-top: 5px;
}

.opp-list-container {
  width: 70%;
  margin: 0 auto;
  max-height: 60vh;
  overflow-y: auto;
}

.opp-button-container {
  display: flex;
  justify-content: center;
}
